{
  "plugins": ["prettier-plugin-astro"],
  "overrides": [
    {
      "files": ["*.astro"],
      "options": {
        "parser": "astro"
      }
    }
  ],
  "printWidth": 130,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": false,
  "endOfLine": "lf"
}
