---
export interface Props {
  title: string;
}

const {title} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/lookbook/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="antialiased">
    <slot />
  </body>
</html>

<style lang="scss" is:global>
  :root {
    --color-background: rgb(18 21 23);
    --color-background-dark: rgb(10 11 15);
    --color-background-light: rgb(26 27 29);
    --color-background-lighter: rgb(36 37 39);

    --color-header-background: rgba(18 22 25 / 65%);

    --color-primary: rgb(162 162 162);
    --color-primary-darker: rgb(120 121 122);
    --color-primary-inactive: rgb(79 79 79);
    --color-primary-highlight: rgb(219 219 219);

    --tag-font-size: 0.75rem;
    --tag-padding: 0.15em 0.75em 0.3em;
    --tag-border-radius: 1em;

    --card-border-radius: 1rem;
  }

  html {
    font-family: system-ui, sans-serif;
    background-color: var(--color-background);
    color-scheme: dark;
  }

  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
