---
import DemoNavBar from '~components/DemoNavBar.astro';

export interface Props {
  title: string;
  showSource?: Record<string, string>;
}

const {title, showSource} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/lookbook/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>2.5d lookbook &#x2022; {title} demo</title>
  </head>
  <body>
    <DemoNavBar title={title} showSource={showSource}>
      <slot name="demo-description" slot="description" />
    </DemoNavBar>
    <slot />
  </body>
</html>

<style is:global>
  html {
    font-family: system-ui, sans-serif;
    background-color: #232348;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
