.two5-display-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.two5-display {
  width: 50vw;
  min-width: 320px;
  height: 50vh;
  min-height: 160px;
  box-shadow: rgba(255, 99, 20, 0.25) 0px 0px 0px 1px;
}

.mono-text {
  font-size: 1rem;
  font-family: monospace;
  margin: 0;
  padding: 0;
  line-height: 1;
}
