---
import {loadMetadataForDemos} from '~utils/loadMetadataForDemos';

const {uniqTagKeys, tags} = loadMetadataForDemos();
---

<ul class="tags tag-cloud-filter">
  {
    uniqTagKeys.sort().map((tag) => (
      <li class="tag" data-related-demos={Array.from(tags.get(tag).demoIds).join(',')} data-tag={tag}>
        {tag}
      </li>
    ))
  }
</ul>

<style>
  .tags {
    margin: 2rem 0;
    color: var(--color-primary);
  }
  .tag {
    display: inline-block;
    font-size: 0.7rem;
    background-color: var(--color-background-light);
    margin: 0.2rem;
    padding: 0.05rem 0.3em 0.1rem;
    border-radius: 0.2rem;
    cursor: pointer;
  }
</style>

<script>
  document.querySelectorAll('.tag-cloud-filter').forEach(($el) => {
    $el.addEventListener('pointerdown', (event: any) => {
      if (event.isPrimary && event.target.hasAttribute('data-tag')) {
        const $tag = event.target;
        const $container = $tag.parentNode;

        const tag = $tag.getAttribute('data-tag');
        const relatedDemos = $tag.getAttribute('data-related-demos').split(',');

        console.log('click on', tag, 'related-demos:', relatedDemos, 'container:', $container);

        document.dispatchEvent(
          new CustomEvent('lookbook.showDemos', {
            detail: {
              filterById: relatedDemos,
              showAll: false,
            },
          }),
        );
      }
    });
  });
</script>
