---
import DemoOrDie from '~components/demos/clouds/index.jsx';
import Layout from '~layouts/ReactDemo.astro';
import {description, showSource, title} from './_clouds.json';
---

<Layout title={title} showSource={showSource}>
  <DemoOrDie client:only />

  <p slot="demo-description">{description}</p>
</Layout>

<style>
  body {
    margin: 0;
    height: 100vh;
    overflow-y: hidden;
    background-color: rgb(155 178 189);
    background-image: url('/lookbook/images/180516-blue-sky-2.jpg');
    background-size: 100% 100%;
    color: #eee;
  }
</style>
