---
import DemoOrDie from '~components/demos/hello-react/HelloReact.jsx';
import Layout from '~layouts/ReactDemo.astro';
import {description, showSource, title} from './_hello-react.json';
---

<Layout title={title} showSource={showSource}>
  <p slot="demo-description">{description}</p>

  <DemoOrDie client:only />
</Layout>

<style>
  body {
    height: 100vh;
    overflow-y: hidden;
    background-color: #000;
    color: #eee;
    text-shadow: 0 0 10px rgba(255 0 128 / 100%);
    font-size: 18px;
  }
</style>
