---
import DemoOrDie from '~components/demos/map2d-tile-sprites-layer-r3f/index.jsx';
import Layout from '~layouts/ReactDemo.astro';
import {description, showSource, title} from './_map2d-tile-sprites-layer-r3f.json';
---

<Layout title={title} showSource={showSource}>
  <p slot="demo-description">{description}</p>

  <DemoOrDie client:only="react" />
</Layout>

<style>
  body {
    margin: 0;
    height: 100vh;
    overflow-y: hidden;
    background: linear-gradient(to right bottom, #0d1d3a 0, #1a2f55 52%, #365a83);
    color: #fff;
  }
</style>
