---
import DemoOrDie from '~components/demos/map2d-rect-visi-area/index.jsx';
import Layout from '~layouts/ReactDemo.astro';
import {description, showSource, title} from './_map2d-rect-visi-area.json';
---

<Layout title={title} showSource={showSource}>
  <p slot="demo-description">{description}</p>

  <DemoOrDie client:only />
</Layout>

<style>
  body {
    margin: 0;
    height: 100vh;
    overflow-y: hidden;
    background-image: linear-gradient(to right bottom, #000000 0, #07203c 66%, #688b00);
    color: #eee;
  }
</style>
