---
import DemoOrDie from '~components/demos/textured-sprites-from-tileset-r3f/index.jsx';
import Layout from '~layouts/ReactDemo.astro';
import {description, showSource, title} from './_textured-sprites-from-tileset-r3f.json';
---

<Layout title={title} showSource={showSource}>
  <p slot="demo-description">{description}</p>

  <DemoOrDie client:only="react" />
</Layout>

<style>
  body {
    margin: 0;
    height: 100vh;
    overflow-y: hidden;
    background-color: rgb(100, 118, 136);
    background: radial-gradient(circle, rgb(231, 231, 231) 0%, rgb(107, 122, 107) 100%);
    color: #eee;
  }
</style>
