name: Continuous Integration

on:
  push:
    paths-ignore:
      - '**.md'

jobs:
  ci:
    name: Build, Lint and Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 22

      - uses: pnpm/action-setup@v4
        with:
          version: 10.27.0
          run_install: true
        env:
          NPM_TOKEN: xxx

      - name: Install Playwright Browsers
        run: pnpm exec playwright install --with-deps chromium firefox
        env:
          NPM_TOKEN: xxx

      - name: Build packages and run all tests
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 2
          max_attempts: 3
          command: xvfb-run pnpm run ci
        env:
          NPM_TOKEN: xxx

      - name: Archive Playwright test results
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: playwright-results
          path: packages/twopoint5d-testing/test-results
          retention-days: 3

