name: Deploy

on:
  workflow_run:
    workflows: [Continuous Integration]
    types: [completed]
    branches: [main]

permissions:
  id-token: write  # Required for OIDC
  contents: read

jobs:
  deploy:
    name: Deploy NPM Packages
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 24
          always-auth: true
          registry-url: https://registry.npmjs.org
          scope: '@spearwolf'

      - uses: pnpm/action-setup@v4
        with:
          version: 10.27.0
          run_install: true

      - run: pnpm run publishNpmPkg
        name: Publish npm packages
