name: Build, test and deploy

on:
  push:
    branches: ['main']

jobs:
  ci:
    name: Build, Lint and Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 22

      - uses: pnpm/action-setup@v4
        with:
          version: 10.22
          run_install: true
        env:
          NPM_TOKEN: xxx

      - name: Install Playwright Browsers
        run: pnpm exec playwright install --with-deps chromium firefox
        env:
          NPM_TOKEN: xxx

      - name: Build packages and run all tests
        run: xvfb-run pnpm run ci
        env:
          NPM_TOKEN: xxx

      - name: Archive Playwright test results
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: playwright-results
          path: packages/twopoint5d-testing/test-results
          retention-days: 3

  deploy:
    name: Deploy packages
    needs: ci
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 22

      - uses: pnpm/action-setup@v4
        with:
          version: 10.22
          run_install: true
        env:
          NPM_TOKEN: xxx

      - run: pnpm run publishNpmPkg
        name: Publish npm packages
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
